// Specific CSS for your home-page
body{
  background-color: #d7c8af;
  font-family: Baskerville Old Face, Perpetua, serif;
  font-size: 20px;
  color: #5a4740;
}

.container{
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 3%;
  width: 80%;
  background-color: #e6d7c3;
  border-radius: 20px;
}

.navbar{
  background-color: #b99673;
  color: #5a4740;
}

.projects{
  width:300px;
  background-color:#d7c8af;
  border-radius: 20px;
  padding:2%;
  text-align:center;
  display: inline-block;
  float: top;
  margin: 10px;
}

h1,h2,h3{
  font-family: Baskerville Old Face, Perpetua, serif;
  text-align: center;
  font-size: 100px;
}

h1{
  margin-top: 20px;
}

h2{
  font-size: 50px;
}

h3{
  font-size:25px;
}

form{
  margin: auto;
}

.new_user{
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 3%;
  width: 40%;
  background-color: #e6d7c3;
  border-radius: 30px;
}

.btn{
  background-color: #b99673;
  font-size: 20px;
  color:#5a4740;
  float: right;
}

.btn:hover{
  background-color:#a3805c;
}

.dropdown-menu{
  position:relative;
  top: 51px;
  left: -105px;
  background-color: #e6d7c3;
  font-size: 20px;
}

.dropdown-item:hover{
  background-color: #b99673;
}

.nav-link{
  color: #5a4740;
}

.nav-link:hover{
  color: #3c2f2a;
}

.home{
  position: relative;
  left: -635px;
  top: 3px;
}

.avatar{
  opacity: 0.7;
}

.avatar:hover{
  opacity: 1;
}

.add{
  float: right;
}

.new-proj{
  margin: auto;
  margin-bottom: 10px;
  width: 60%;
}

textarea{
  width: 60%;
  height: 200px;
}

#mySavedModel{
  display:none;
}

.scene{
  background-color:#d7c8af;
  border-radius: 20px;
  display: inline-block;
  margin: 10px;
}
