// Specific CSS for your home-page
body{
  background-color: #d7c8af;
  font-family: Baskerville Old Face, Perpetua, serif;
  font-size: 20px;
  color: #5a4740;
}

strong{
  font-weight: 5px;
  text-decoration: underline;
}

.container{
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 3%;
  width: 80%;
  background-color: #e6d7c3;
  border-radius: 20px;
}

.navbar{
  background-color: #b99673;
  color: #5a4740;
  padding:none;
}

a{
  color:#5a82c6;
}

a:hover{
  color:#8e97b4;
}

.projects{
  width:300px;
  background-color:#d7c8af;
  border-radius: 20px;
  padding:2%;
  text-align:center;
  display: inline-block;
  margin: 10px;
}

h1,h2,h3{
  font-family: Baskerville Old Face, Perpetua, serif;
  font-size: 100px;
}

h1{
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
}

h2{
  font-size: 50px;
  text-align: center;
}

h3{
  font-size:25px;
}

form{
  margin: auto;
}

.new_user{
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 3%;
  width: 40%;
  background-color: #e6d7c3;
  border-radius: 30px;
}

button,.btn{
  background-color: #b99673;
  font-size: 20px;
  color:#5a4740;
  border:none;
  border-radius:5px;
}

button:hover,.btn:hover{
  background-color:#a3805c;
}

.dropdown-menu{
  position:relative;
  top: 51px;
  left: -105px;
  background-color: #b99673;
  font-size: 20px;
  border:none;
  padding-top: 15px;
}

.dropdown-item{
  color:#5a4740;
}
.dropdown-item:hover{
  background-color: #e6d7c3;
  color:#5a4740;
}

.nav-link{
  color: #5a4740;
}

.nav-link:hover{
  color: #3c2f2a;
}

.home{
  position: absolute;
  left: 33px;
  top: 15px;
}

.proj-display{
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 3%;
  width: 70%;
  background-color: #d7c8af;
  border-radius: 20px;
}

.avatar{
  opacity: 0.7;
}

.avatar:hover{
  opacity: 1;
}

.new_project{
  margin: auto;
}

.new-proj{
    margin-bottom: 10px;
    margin-left: 25%;
    width: 50%;
}

textarea{
  width: 60%;
  height: 200px;
}

#mySavedModel{
  display:none;
}

.scene{
  background-color:#d7c8af;
  border-radius: 20px;
  display: inline-block;
  margin: 10px;
}

.actions{
  margin-top: 10px;
}

.center{
  text-align:center;
}

.floatRight{
  float: right;
}

