<h2 style="background-color: transparent; text-align:left;margin-left: 30%;margin-top: 10px;"><%= @scene.project.name %></h2>
<div class="container">
  <div>
    <p class="show-line-break"><%= @scene.content %></p>

    <% @scene.decisions.each do |d|%>
        <% @scene.project.scenes.each do |s| %>
          <% if s.editor_id == d.next_editor_id %>
            <div class="no-text-overflow">
              <p>
                <%= link_to d.description, project_scene_path(@scene.project, s) %>
              </p>
            </div>
          <% end %>
        <% end %>
    <% end %>
  </div>
</div>
