<div class="container">
  <h2><%= @scene.project.name %></h2>
  <div class="proj-display">
      <p class="show-line-break"><%= @scene.content %></p>

    <% @scene.decisions.each do |d|%>
        <% @scene.project.scenes.each do |s| %>
          <% if s.editor_id == d.next_editor_id %>
            <p>
              <%= link_to d.description, project_scene_path(@scene.project, s) %>
            </p>
          <% end %>
        <% end %>
    <% end %>
  </div>
</div>
