<div class='container'>
  <h3>Edit Title/Description</h3>
  <div class="form-inputs">
      <%= form_for @project, method: "put"  do |f| %>
      <%= f.text_field :name , class: "new-proj", placeholder: @project.name%><br>
      <%= f.text_area :description, class: "new-proj", placeholder: @project.description %><br>
      <%= f.submit :class => "btn floatRight" %>
    <% end %>
    </div>
