<div class="container">
<h3><%= @project.name %></h3>


<% @project.scenes.each do |s| %>
  <% if s.editor_id == -1 %>
    <li>Starting Scene | <%= link_to "Elaborate", edit_project_scene_path(@project, s) %></li>
  <% end %>
<% end %>

<% @project.scenes.each do |s| %>
  <% if s.editor_id != -1 %>
    <li><%= s.summary %> | <%= link_to "Elaborate", edit_project_scene_path(@project, s) %></li>
  <% end %>
<% end %>
</div>

