<h2><%= @project.name %></h2>

<% @project.scenes.each do |s| %>
  <% if s.editor_id == -1 %>
    <p>Start Scene | <%= link_to "Elaborate", edit_project_scene_path(@project, s) %></p>
  <% end %>
<% end %>

<% @project.scenes.each do |s| %>
  <% if s.editor_id != -1 %>
    <p><%= s.summary %> | <%= link_to "Elaborate", edit_project_scene_path(@project, s) %></p>
  <% end %>
<% end %>
