<div class='container'>
  <div class="form-inputs">
    <h2>New Project</h2>
    <div class="new-project">
    <%= form_for @project do |f| %>
      <%= f.text_field :name , class: "new-proj", placeholder: "Title", required: true %><br>
      <%= f.text_area :description, class: "new-proj", placeholder: "Description" %><br>
      <%= f.submit :class => "btn floatRight" %>
    <% end %>
    </div>
  </div>
</div>
