<p><%= @project.name %></p>
<%= link_to 'Add Scene', new_project_scene_path(@project) %>

<div>
  <% @project.scenes.each do |s| %>

    <div class='scene'>
        <p><%= s.summary %></p>
    </div>

  <% end %>
</div>
