<div class="container">
<h2><%= @project.name %></h2>

<% @project.scenes.each do |s| %>
  <% if s.editor_id == -1 %>
    <p><%= s.content %></p>
    <% s.decisions.each do |d|%>
      <p>
        <%= link_to d.description, project_scene_path(@project, Scene.find(d.next_id)) %>
      </p>
    <% end %>
  <% end %>
<% end %>


</div>
