<div class="container">
  <h3><%= @project.name %></h3>

  <div class="proj-display">
    <% @project.scenes.each do |s| %>
      <% if s.editor_id == -1 %>
        <p class="show-line-break"><%= s.content %></p>

        <% s.decisions.each do |d|%>
          <% s.project.scenes.each do |ss| %>
            <% if ss.editor_id == d.next_editor_id %>
              <div class="no-text-overflow">
                <p>
                  <%= link_to d.description, project_scene_path(@project, ss) %>
                </p>
              </div>
            <% end %>
          <% end %>
        <% end %>

      <% end %>
    <% end %>
  </div>
</div>
