<h2 style="background-color: transparent; text-align:left;margin-left: 30%;margin-top: 10px;"><%= @project.name %></h2>
<div class="container", style="margin-top:10px; overflow:auto;">
    <% @project.scenes.each do |s| %>
      <% if s.editor_id == -1 %>
        <p class="show-line-break"><%= s.content %></p>

        <% s.decisions.each do |d|%>
          <% s.project.scenes.each do |ss| %>
            <% if ss.editor_id == d.next_editor_id %>
              <div class="no-text-overflow">
                <p>
                  <%= link_to d.description, project_scene_path(@project, ss) %>
                </p>
              </div>
            <% end %>
          <% end %>
        <% end %>

      <% end %>
    <% end %>
</div>
