
.scene {
  color: rgb(100,100,200);
  // position: absolute;
  text-align: center;
  // cursor: move;
  padding: 20px;
  width: 150px;
  background-color:#d7c8af;
  border-radius: 20px;
  display: inline-block;
  margin: 10px;
}

#editor{
  display: flex;
}
#diagramEditor{
  width: 840px;
}
.sideBar{
  width: 170px;
  padding: 10px;
}
